.clientes{
    margin-top: 170px;
}

.clientes-container{
    margin-top:60px;
    margin-left: 10%;
    margin-right: 10%;
}

.vam{
    vertical-align: middle;
}

.btn.btn-sm{
    padding: 1rem 1rem !important;
}
th {
    white-space: nowrap;
    text-align: center;
}
td {
    white-space: nowrap;
    text-align: center;
}

.margens{
    margin-left: 30px;
    margin-right: 30px;
}